

<div id='main'>	

            <div style='padding-bottom:12px' class='av-special-heading meta-heading   avia-builder-el-3  avia-builder-el-first '>
                <h3>The Sandcourt</h3><p>BEACH VOLLEYBALL AND SOCCER COURTS</p><hr>
                <div class='special-heading-border'>
                    <div class='special-heading-inner-border'>
                        
                    </div>
                </div>
            </div><br>
           
            <div class='avia_textblock'><h1 style="text-align: center;"><span style="line-height: 1.5em;">Our Facility</span></h1>
                <h1 style="text-align: center;"><span style="font-size: 14px; line-height: 1.5em;">Beach Volleyball &#8211; Beach Soccer &#8211; Beach Football &#8211; Parties &#8211; Events</span></h1>
            </div><hr>
            <div  class='hr hr-short hr-center  avia-builder-el-3  el_after_av_textblock '><span class='hr-inner'><span class='hr-inner-style'></span></span></div>
            <div class='avia_textblock'><p>Welcome to the SANDBOXEP. We are currently a 4 court sand volleyball complex looking to expand and venture into 
            Sand Soccer and Sand Flag Football. We operate months of the year starting mid March thru mid November.
            There are currently 4 nights of league play which feature a Coed 6 man business league, Womens 3&#8217;s and 4&#8217;s, 
            Mens doubles, Coed Power 4&#8217;s and open Coed 6&#8217;s.</p>
            </div>
            <hr>
            <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
             <a href='#' class='avia_image  avia-builder-el-2  avia-builder-el-first avia-align-center '><img class='avia_image ' image src="http://www.beachsports.co.za/wp-content/uploads/2014/07/009-e1406841736535.jpg" alt='' title='' /></a>
           
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
             <a href='#' class='avia_image  avia-builder-el-5  avia-builder-el-first avia-align-center '><img class='avia_image ' src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Beach_volleyball_at_the_2012_Summer_Olympics_(7925295898).jpg/440px-Beach_volleyball_at_the_2012_Summer_Olympics_(7925295898).jpg' alt='' title='middle' /></a>
            
          </div>
        </div> 
        <div class="col-md-4">
          <div class="thumbnail">
             <a href='#' class='avia_image  avia-builder-el-8  avia-builder-el-first avia-align-center '><img class='avia_image ' src='http://image.saratogian.com/storyimage/ST/20100704/NEWS/307049961/EP/1/1/EP-307049961.jpg&maxh=400&maxw=667' alt='' title='right' /></a>
            
        </div> 
      </div><!-- row -->
    <hr>
		

            
            <div class="row">        
            
                <div class='avia_textblock'><p style="text-align: left;"><b>FACILITIES</b></p>
                    <p>The Sandbox Beach Volleyball and Soccer Courts are dedicated to developing the formation of new athletes. We provide an affordable, family friendly environment that is fun for everyone in El Paso. Our newly renovated facility offers a 4 court sand volleyball complex looking while we are looking to expand and venture into Sand Soccer and Sand Flag Football. Our leagues help promote team building, meeting new people, and providing a excitement experience. This is a great place to hang out with friends and family. There are currently 4 nights of league play which feature a Coed 6 man business league, Women&#8217;s 3&#8217;s and 4&#8217;s, Men&#8217;s Doubles, Coed Power 4&#8217;s and Open Coed 6&#8217;s.</p>
                    <br>
                    <p>If you are interested in joining one of our leagues please call 915.329.2655.</p>
                    <br>
                    <hr>
                </div>
                <div class="col-md-8">    
                    <p><strong>Volleyball Leagues</strong></p>
                    <ul>
                        <li>Coed 6 Man Business League</li>
                        <li>Women&#8217;s 3&#8217;s and 4&#8217;s</li>
                        <li>Men&#8217;s Doubles</li>
                        <li>Coed Power 4&#8217;s</li>
                        <li>Open Coed 6&#8217;s</li>
                    </ul>
                </div>        
                <div class="col-md-4">
                    <div class='avia_textblock'><h3>UPCOMING EVENTS</h3>
                
                      <p>Saturday, June 13th 2015</p>
                    </div>
                         <a class='btn btn-primary btn-lg' href='https://www.facebook.com/groups/19432392234//'  role="button"><span class='avia_iconbox_title' >Register Now!</span></a>
                    </div>
                </div>
            </div><br><hr>
            
            <div class="col-md-12">    
                <p>If you are interested in signing up for one of these league, please call 915.253.9545 for more information.<b> </b></p>
                <p><b>Parties and Event Rentals</b></p>
                <p>If  you are looking for a unique place with a great atmosphere for birthday parties or a private events the Sandbox is the way to go. We want to make sure that your event is special and will do anything we can to accommodate your needs. To find out information about our party and event packages, please call 915.253.9545.</p>
                <p><b>Types of events offered:</b></p>
                <ul>
                    <li>Meetings</li>
                    <li>Team Building Activities</li>
                    <li>Fund Raisers</li>
                    <li>Tournaments</li>
                    <li>Reunions</li>
                    <li>Baby Showers</li>
                    <li>Wedding Showers</li>
                    <li>Field Trips</li>
                    <li>Graduation Parties</li>
                    <li>Birthday Parties</li>
                    <li>Picnics</li>
                </ul>
                <h4 style="text-align: justify;"></h4>
            </div>
        
        
        
    <div class="item-page">
	    <h2>Rules &amp; Regulations</h2>






    	    <p><br /><br />&nbsp;</p>
            <h1>Indoor Beach Volleyball Federation of WA</h1>
            <h1>Rules and Regulations (Amended Oct 2010)<br /><br />&nbsp;</h1>
            <h2>THE GAME</h2>
            <p>Indoor Beach Volleyball (IBY) is a game played by two teams on a sand covered volleyball court surrounded by netting, where the ball is played rebound off the nets, with No outs, therefore the ball is live at all times. The ball may be hit with any part of the body above the waist (no intentional head butting), but each side is limited to three consecutive contacts. Teams can only score a point off their own serve. The game is controlled by a determined time frame per game; the team with the highest score a the end of that time is deemed the winner, if both teams finish on the same score a the end of time a draw will result.</p>
            <h2>OFFICIALS</h2>
            <p>The game is controlled by an umpire who scores and keeps the time. In any sport, there are close calls where players will disagree, but the umpire's decision is always fmal. Any arguing with or abuse directed at an umpire can result in a point reduction, followed by a send off.</p>
            <h2>THE TEAM</h2>
            <p>A team consists of 4 or 6 players (Depending on Competitions) In the case of mixed teams; there must not be any more than 3 males on the court for each team at one time (in 6-A-Side or 2 in 4-A-Side). Individual centres may have in house rules which apply to team structures. In mixed competitions, players must position themselves male/female consecutively on the court. Substitutions are only allowed during breaks between sets (or unless forced by injury). Rotation of players must be clockwise; no player is permitted to stay in one position. Once the ball has been served, players are free to move positions during the rally, all players must resume their positions before the next service rally.</p>
            <h2>SERVING AND POSITIONS</h2>
            <p>The ball must be served within 1.5mtrs from the back right hand comer of your side of the court. The ball can be served over arm or under arm. One missed ball toss will be allowed, on second ball toss the ball must be served or a foul will be given. The ball must not have contact with any nets whilst being served. All players must serve in rotation. All players are to rotate clockwise on winning the serve, whether your team is serving or you're the receiving team you must stand in your correct rotation. The ball must be hit (set or dug) twice on receiving the serve before returning the ball back over the centre net after this the ball can be hit straight back during the rally.</p>
            <h2>SIDE AND TOP NETS</h2>
            <p>All nets can be used in general play, except when serving the ball, or contact with the top net when it is returned over the centre net to the oppositions side of the court, this is deemed a foul.</p>
            <h3>GENERAL PLAY</h3>
            <h4>NET TOUCH</h4>
            <p>Any contact with the centre net by a player whilst the ball is in play will result in a foul. Loose clothing or hair is not considered a net touch.</p>
            <h4>BLOCKING</h4>
            <p>A block at the centre net is not included as part of the three hits. The blocking player is entitled to play at the ball again on the consecutive shot. Two hands must be used to constitute a block.</p>
            <h4>REACHING</h4>
            <p>No player is permitted to reach over the centre net when the ball is in play. If the umpire deems a player has reached over the net during play in attack or defence, the player will be fouled.</p>
            <h4>SCREENING NOT PERMITTED</h4>
            <p>Screening -A player or group of players, of the serving team makes a screen by raising of arms, jumping or moving sideways, during the execution of the service, or by standing grouped to hide the flight path of the ball.</p>
            <h4>CARRYING</h4>
            <p>If a ball is lifted or set from below the chest this is classified as a carry at the umpire's discretion.</p>
            <h4>DOUBLE HIT</h4>
            <p>If a ball contacts a player twice, this is classified as a double hit (except when blocking at the net).</p>
            <h4>REBOUNDING BALL</h4>
            <p>After crossing the centre net, if the ball re bounds back over the centre net due to contact with any court fixture or net without any contact from the opposition, play continues if the attacking team still has a team shot available. After crossing the centre net, if the ball rebounds back after hitting any other area of the court apart, and without any contact from the opposition, the defending team wins the rally automatically.</p>
            <h4>BAll AND NET ABUSE</h4>
            <p>Any kicking ofthe ball may result in a deduction of points; continuation of kicking the ball may result in a send off (at umpire's discretion). Players urmecessarily abusing the nets may result in a send off. Players may not physically use the nets to assist in general play.</p>
            <h4>FOULS</h4>
    </div>    <p>-The point or serve is lost when: The ball touches the ground. Team plays the ball more than three times in succession. The ball touches a player below the waist. A player touches the ball twice consecutively (except on a block). A player touches the centre net. The ball touches the top net (except when setting to your own player). A player blocks or spikes the ball back over the centre net off the serve (e.g. must be two hits off a serve) from the receiving team. The ball does not pass over the net on the serve. The umpire calls a carry, double hit, top net or net touch. A player interferes with an opponent's player. The serve is made from outside the serving area. A player kicks the ball. A player attacking or defending reaches over the net. A player abuses the umpire. The ball hits a net when served. Player/players screens the server. Blood Rule -Must come off the court at once.</p>

</div><!-- main -->