<div id='main'>	
	<div class="rental">
		<p class="text-center">Love volleyball? Looking for something fun to do in the winter</p>
        <p class="text-center">Join as a team with a group of friends.</p>
        <p class="text-center">Please Register with few quick steps below</p><br>	
	</div>
<div class="jumbotron1">
</div>
		<br>
		<br>
	<div class="row">
        <div class="col-md-4">
	        <table class="table table-condensed">
	            <tr>
	                <th>Thursday Tournament Information</th>
	            </tr>
	            <ul>
	            	<tr>
		                <td>Thursday Night Tournaments<br>
		                <p>4 and 6 Player Co-Ed Teams</p>
						<p>Begins at 7:00 PM</p>
		                </td>
		            </tr>
		         </ul>
	        </table>
	      </div>
        
        <div class="col-md-8">
	        <table class="table table-condensed">
	            <tr>
	                <th>Pricing and Registration</th>
	            </tr>
	            <ul>
	            	<tr>
		                <td>
		                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick"><br>
							<input type="hidden" name="hosted_button_id" value="2ZYYT28GRHPP8"><p></p>
							<table>
							<tbody><tr>
							<td><input type="hidden" name="on0" value="Team Size">Team Size</td>
							</tr>
							<tr>
							<td><select name="os0"><option value="Co-Ed 4 Player">Co-Ed 4 Player $160.00 USD</option><option value="Co-Ed 6 Player">Co-Ed 6 Player $200.00 USD</option></select></td>
							</tr>
							<tr>
							<td><input type="hidden" name="on1" value="Team Name">Team Name</td>
							</tr>
							<tr>
							<td><input type="text" name="os1" maxlength="200"></td>
							</tr>
							</tbody></table>
							<p><input type="hidden" name="currency_code" value="USD"><br>
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><br>
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"><br>
							</p>
						  </form>
					   </td>
		            </tr>
		         </ul>
	        </table>
	     </div>
	</div><!-- row -->
		<div class="row">
        <div class="col-md-4">
	        <table class="table table-condensed">
	            <tr>
	                <th>Friday Tournament Information</th>
	            </tr>
	            <ul>
	            	<tr>
		                <td>Friday Night Tournaments<br>
		                <p>4 and 6 Player Co-Ed Teams</p>
						<p>Begins at 7:00 PM</p>
		                </td>
		            </tr>
		         </ul>
	        </table>
	      </div>
        
        <div class="col-md-8">
	        <table class="table table-condensed">
	            <tr>
	                <th>Pricing and Registration</th>
	            </tr>
	            <ul>
	            	<tr>
		                <td>
		                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick"><br>
							<input type="hidden" name="hosted_button_id" value="2ZYYT28GRHPP8"><p></p>
							<table>
							<tbody><tr>
							<td><input type="hidden" name="on0" value="Team Size">Team Size</td>
							</tr>
							<tr>
							<td><select name="os0"><option value="Co-Ed 4 Player">Co-Ed 4 Player $160.00 USD</option><option value="Co-Ed 6 Player">Co-Ed 6 Player $200.00 USD</option></select></td>
							</tr>
							<tr>
							<td><input type="hidden" name="on1" value="Team Name">Team Name</td>
							</tr>
							<tr>
							<td><input type="text" name="os1" maxlength="200"></td>
							</tr>
							</tbody></table>
							<p><input type="hidden" name="currency_code" value="USD"><br>
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><br>
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"><br>
							</p>
						  </form>
					   </td>
		            </tr>
		         </ul>
	        </table>
	     </div>
	</div><!-- row -->
		<div class="row">
        <div class="col-md-4">
	        <table class="table table-condensed">
	            <tr>
	                <th>Saturday Tournament Information</th>
	            </tr>
	            <ul>
	            	<tr>
		                <td>Saturday Night Tournaments<br>
		                <p>4 and 6 Player Co-Ed Teams</p>
						<p>Begins at 7:00 PM</p>
		                </td>
		            </tr>
		         </ul>
	        </table>
	      </div>
        
        <div class="col-md-8">
	        <table class="table table-condensed">
	            <tr>
	                <th>Pricing and Registration</th>
	            </tr>
	            <ul>
	            	<tr>
		                <td>
		                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick"><br>
							<input type="hidden" name="hosted_button_id" value="2ZYYT28GRHPP8"><p></p>
							<table>
							<tbody><tr>
							<td><input type="hidden" name="on0" value="Team Size">Team Size</td>
							</tr>
							<tr>
							<td><select name="os0"><option value="Co-Ed 4 Player">Co-Ed 4 Player $160.00 USD</option><option value="Co-Ed 6 Player">Co-Ed 6 Player $200.00 USD</option></select></td>
							</tr>
							<tr>
							<td><input type="hidden" name="on1" value="Team Name">Team Name</td>
							</tr>
							<tr>
							<td><input type="text" name="os1" maxlength="200"></td>
							</tr>
							</tbody></table>
							<p><input type="hidden" name="currency_code" value="USD"><br>
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><br>
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"><br>
							</p>
						  </form>
					   </td>
		            </tr>
		         </ul>
	        </table>
	     </div>
	</div><!-- row -->
</div><!-- main -->
            
		
			

