<div id='main'>	
 
     <div class="jumbotron">
        <h1 class="text-right">SANDCOURT</h1>
        <h2 class="text-right">BEACH VOLLEYBALL<br> &<br> SOCCER CLUB</h2>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Learn more &raquo;</a></p>
    </div>
 <!-- Wrap the rest of the page in another container to center all the content. -->



    <div class="center">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
             <a href='http://thesandboxep.com/?page_id=2484' class='avia_image  avia-builder-el-2  avia-builder-el-first avia-align-center '><img class='avia_image ' src='http://thesandboxep.com/wp-content/uploads/2013/04/left.jpg' alt='' title='' /></a>
            <div class="caption">
              <div class="avia_textblock"><h4><%= link_to "Sign Up",  new_user_registration_path %></h4>
              
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
             <a href='#' class='avia_image  avia-builder-el-5  avia-builder-el-first avia-align-center '><img class='avia_image ' src='http://thesandboxep.com/wp-content/uploads/2013/04/middle.jpg' alt='' title='middle' /></a>
            <div class="caption">
              <div class='avia_textblock'><h4><a href="#">Parties &#038; Event Rentals.</a></h4>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="thumbnail">
             <a href='#' class='avia_image  avia-builder-el-8  avia-builder-el-first avia-align-center '><img class='avia_image ' src='http://thesandboxep.com/wp-content/uploads/2013/04/right-300x199.jpg' alt='' title='right' /></a>
            <div class="caption">
              <div class='avia_textblock'><h4><a href="#">Training</a></h4></div>
            </div>
          </div>
        </div> 
      </div><!-- row -->
    <hr>
    
        <div class="row">
          
          <div class="col-md-12">
            <div class='avia_textblock'>
              <div class='avia-iframe-wrap'>
                <iframe src="https://player.vimeo.com/video/111059864" width="1140" height="720" frameborder="0" title="The Sandbox - Beach Volleyball &amp; Beach Soccer" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div><!-- row -->
      </div><!-- center -->
    <br/>
    
    <br><hr>
</div><!-- main -->